* { 
    box-sizing: border-box;
}

body {
margin: 0;
	padding: 0;	
    line-height: 1.5em;
    font-family: sans-serif;
    #background-color: #000000;
}

/* Style the header */
header {
    background-color: #2C2D2D;
    #padding: 10px;
    color: white;
    border-bottom: 5px solid #0485A9;
}

/* Container for flexboxes */
.headersection {
	width: 70%;
	margin: 0px auto;
	 display: -webkit-flex;
    display: flex;
    align-items: center;
}
.headerleft{flex: 2; font-size: 24px;}
.headerhome{flex: 1; text-align: right;}

section {
	width: 70%;
	margin: 0px auto;
	 display: -webkit-flex;
    display: flex;
}

/* Style the navigation menu */
nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    #background:  #000000 ;
    padding: 10px;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 10px;
    #border: 1px solid purple;
}
nav ul li{
	font-size: 1.2em;
	color: purple;
	padding: 5px;
}

nav ul li ul {border: 0;}
nav ul li li {
#color: orange;
 border: 0px;
 font-size: 0.8em;
}

nav ul li a{
    #color: orange;
    text-decoration: none;
    }

a.how, a.peer, a.utilizing, a.understanding, a.using, a.statistics, a.uncertainty, a.data, a.modeling, a.comparison, a.description, a.experimentation, a.practice, a.creativity, a.controversy, a.theories, a.institutions, a.ethics, a.community, a.nature, a.process{color:red;}

nav ul li a:hover, nav ul li a:active{
	text-decoration: underline;
	color: red;
}



/* Style the content */
article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    #background-color: black;
    #color: #f5b041 ;
    padding: 10px;
}
article h3{ font-family: Courier; font-size: 1.2em; text-align: center; color: purple;	}
article h4{ font-family: Impact; font-size: 1.2em; text-align: center;	color: red; }
article h2{font-size: 1.5em;}
article h1{font-size: 2em; line-height: 1.2em;}
.didyouknow{border: 1px solid lightblue; padding: 0 10px; background-color: #D2E5E9}
.didyouknow h2{border-bottom: 1px solid grey; padding-bottom: 5px;}
.readingbar{font-size: 2em; margin:10px}
.responsive{max-width: 100%; height: auto}
.checkpoint{border:1px dashed red; padding: 10px}
div.floatleft {padding: 5px; float: left; margin: 5px 8px 5px 0; max-width: 100%}
div.center{margin: 10px auto; max-width: 100% } 
div.floatright {padding: 0px; float: right; max-width: 100%} 
div.desc {width: 100%; padding: 5px; font-size: 0.8em; font-style: italic; text-align: left; line-height: 1.5em;}
figure{ display: table; }
figure img{ width: 100%; }
figcaption{ display: table-caption; caption-side: bottom; font-size: 0.8em; font-style: italic; padding: 8px 4px; }
.indent{padding-left: 30pt; padding-right: 30pt; color: dodgerblue;}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid grey;
}

/* Style the footer */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 720px) {
    .headersection {
      -webkit-flex-direction: column;
      flex-direction: column;
      width: 100%;
      height: auto;
      padding-bottom: 30px;
    }
    section{-webkit-flex-direction: column;
      flex-direction: column-reverse;
      width: 100%;}
    h1{font-size: 0.8em; line-height: 1.2em}
    }
